<div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading">Syndeno</h2>
      <input type="text" class="form-control" name="username" placeholder="Usuario" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Contraseña" required=""/>
      <!-- <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label> -->
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
  </div>
<!-- https://syndeno.newcode.com.ar -->
<!-- inspiracion -->
